h3 {
  color: white;
  text-shadow: 2px 2px 10px black;
}

/* --------------------- Login Page -------------------- */

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: navy;
}

.login-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  height: 300px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 6px 6px 10px black;
  z-index: 15;
}

.login-form {
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

input {
  border-radius: 24px;
  border: none;
  padding: 0.5rem;
  text-align: center;
  box-shadow: 1px 1px 7px black;
}

button {
  cursor: pointer;
  color: white;
  width: 80px;
  height: 25px;
  border-radius: 12px;
  box-shadow: 2px 2px 5px black;
  border: none;
  background-image: linear-gradient(
    to right bottom,
    #1b279d,
    #0065cf,
    #0096de,
    #00c4d7,
    #49edca
  );
}

button:active {
  box-shadow: 1px 1px 1px black;
}

.registration-link {
  text-decoration: underline;
  text-shadow: 1px 1px 2px black;
  cursor: pointer;
}

.registration-link:hover {
  text-decoration: none;
  text-shadow: none;
}

.registration {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #00000099;
  height: 100vh;
  width: 100%;
  z-index: 17;
  position: absolute;
}

.registration-modal {
  height: 60vh;
  background: white;
  border-radius: 10px;
  box-shadow: 7px 7px 10px black;
  width: 80vw;
}

.close {
  position: absolute;
  right: 12%;
  cursor: pointer;
}

@media only screen and (max-width: 678px) {
  * {
    font-size: 11px;
  }
  #switch-button {
    width: 20px !important;
  }
  .navbar-switch label {
    display: none;
  }
  .close {
    right: 15%;
  }
  .navbar-search input {
    width: 100px;
  }
  .country {
    display: none !important;
  }
  .country-list {
    justify-content: center;
    margin: 0px;
  }
  .profile-pic {
    position: relative;
    width: 90px;
    height: 90px;
    right: 35% !important;
  }

  .welcome-message {
    margin-left: 20%;
  }
  #mobile {
    display: flex !important;
    width: 100%;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
  }
  #mobile img {
    border-radius: 10px;
    cursor: pointer;
  }
  .tagline-carousel {
    position: absolute;
    left: 34%;
    bottom: 0px;
    text-align: center;
    color: white;
    font-weight: bold;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 24px;
    padding: 0 10% 0 10%;
    text-shadow: 2px 2px 10px black;
  }
  #guide-reservations {
    width: 80vw;
  }
  #guide-reservations h3 {
    font-size: 1.1rem;
  }
  #guide-upcoming {
    width: 100%;
  }
  #section2 {
    flex-direction: column;
    justify-content: center;
  }
  #mobile-statistics {
    width: 90%;
    text-align: center;
    cursor: pointer;
  }
  .guide-stats {
    display: none;
  }
  .visible {
    display: flex;
  }
  #mobile-upcoming {
    width: 90%;
    text-align: center;
    cursor: pointer;
  }
  #mobile-reviews {
    width: 90%;
    text-align: center;
    cursor: pointer;
  }
  .navbar-switch label {
    font-size: 10px;
  }
  .navbar-switch button {
    height: 10px;
  }
  #availability-calendar {
    width: 70vw !important;
  }
  .tours-section {
    width: 80vw !important;
  }
  .main-section {
    width: 80vw !important;
  }
}

#mobile {
  display: none;
}
/* ------------------------------------------------------------ */

/* --------------------- Guide -------------------- */

.guide {
  z-index: 15;
}
.guide-background {
  position: fixed;
  height: 110vh;
  width: 100%;
  top: 0px;
}

#section2 h3 {
  color: black;
  text-shadow: 1px 1px 4px black;
}

.guide-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  position: relative;
  background: rgba(255, 255, 255, 0.3);
  z-index: 15;
}

.guide-welcome h2 {
  margin: 0px;
  color: white;
  text-shadow: 2px 2px 10px black;
}

.rating {
  height: 5vh;
  width: 210px;
  margin-bottom: 10px;
}
.stars {
  width: 40px;
}
.profile-pic {
  display: flex;
  position: relative;
  right: 20%;
  top: 30%;
  box-shadow: 6px 6px 12px black;
  border-radius: 50%;
}
.guide-welcome p {
  color: black;
  text-shadow: 2px 2px 10px black;
}
.guide-section {
  position: relative;
  z-index: 15;
  height: 30vh;
  box-shadow: 0px 6px 20px black;
  background-image: linear-gradient(
    to left bottom,
    #f9f871,
    #a8f38c,
    #57e6b2,
    #00d3d0,
    #00bcdc
  );
}

#section1 {
  display: flex;
  height: 45vh;
  justify-content: center;
}
.guide-filler {
  z-index: 15;
  position: relative;
  height: 20vh;
  background: rgba(255, 255, 255, 0.3);
}
#filler1 {
  height: 30vh;
}

.guide-reservations {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35vh;
  border-radius: 10px;
  box-shadow: 6px 6px 20px black;
  width: 50vw;
  text-align: center;
  margin: 20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.3);
}
.guide-reservations h3 {
  color: black;
  font-size: 1.4em;
  text-shadow: 2px 1px 5px black;
}
.guide-switch {
}
.guide-upcoming {
  display: flex;
  height: 100%;
  margin: 20px;
  width: 70%;
  justify-content: space-evenly;
  border-radius: 50px;
  background-image: linear-gradient(
    to right bottom,
    #d5e008,
    #e5b900,
    #ee8f00,
    #f15f00,
    #eb1212
  );
  box-shadow: 3px 3px 12px black;
  z-index: 16;
  color: black;
  text-shadow: 2px 2px 3px black;
  cursor: pointer;
}
.welcome-message h2 {
  color: black;
  text-shadow: 2px 2px 3px black;
}

.welcome-message p {
  color: black;
  text-shadow: 2px 2px 3px black;
}
.guide-profile-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.guide-profile-icon img {
  border-radius: 50%;
}
.guide-name {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.guide-dates {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.guide-dates p {
  margin: 0;
}
.guide-profile-icon img {
  box-shadow: 5px 5px 10px black;
}

#section2 {
  display: flex;
  height: 50vh;
}

.guide-statistics {
  padding: 15px;
  margin: 20px;
  width: 30%;
  box-shadow: 3px 3px 12px black;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.guide-statistics h3 {
  color: black;
}

.upcoming-reservations {
  padding: 15px;
  margin: 20px;
  width: 40%;
  box-shadow: 3px 3px 12px black;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}
.upcoming-reservations h3 {
  color: black;
}
.guide-reviews {
  padding: 15px;
  margin: 20px;
  width: 30%;
  box-shadow: 3px 3px 12px black;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
}

.guide-reviews h3 {
  color: black;
}
/* ------------------------------------------------------------ */

/* --------------------- Traveler -------------------- */

.traveler {
  z-index: 15;
}
.traveler-background {
  position: fixed;
  height: 110vh;
  width: 100%;
  top: 0px;
}
.traveler-welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  position: relative;
  background: rgba(255, 255, 255, 0.3);
  z-index: 15;
  color: white;
  text-shadow: 1px 1px 4px black;
}

.welcome-message {
  border-radius: 10px;
  text-align: center;
  padding: 0px 20px 0px 20px;
}
.traveler-general {
  display: flex;
  position: relative;
  z-index: 15;
  height: 40vh;
}
.countries-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 80%;
  z-index: 15;
  background-image: linear-gradient(
    to right bottom,
    #1b279d,
    #0065cf,
    #0096de,
    #00c4d7,
    #49edca
  );
  box-shadow: 2px 2px 9px black;
}
.continent {
  margin: 0px;
  display: flex;
  color: white;
  text-shadow: 2px 2px 10px black;
  justify-content: center;
}
.countries-right {
  position: absolute;
  right: 0px;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 80%;
  z-index: 15;
  background-image: linear-gradient(
    to right bottom,
    #1b279d,
    #0065cf,
    #0096de,
    #00c4d7,
    #49edca
  );
  box-shadow: 5px 5px 9px black;
}

.country-list {
  display: flex;
  margin-left: 25px;
  margin-right: 25px;
  height: 75%;
}
.country {
  display: flex;
  border-radius: 10px;
  box-shadow: 5px 5px 12px black;
  justify-content: center;
  align-items: flex-end;
  height: 80%;
  width: 175px;
  margin: 15px;
  cursor: pointer;
}

.country:hover {
  transform: scale(1.1);
  transition: all 0.42s;
}
.country p {
  text-align: center;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 0 20% 0 20%;
  border-radius: 10px;
  text-shadow: 1px 1px 2px black;
  box-shadow: 5px 5px 5px black;
  overflow: hidden;
  white-space: nowrap;
}
.filler-right {
  position: absolute;
  right: 0px;
  height: 100%;
  width: 25%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 14;
}
.filler-left {
  position: absolute;
  left: 0px;
  height: 100%;
  width: 25%;
  background: rgba(255, 255, 255, 0.3);
  z-index: 14;
}
.traveler-footer {
  z-index: 15;
  position: relative;
  height: 20vh;
  background: rgba(255, 255, 255, 0.3);
}

/* ------------------------------------------------------------ */

/* --------------------- Navbar -------------------- */

.navbar {
  display: inline-flex;
  width: 100%;
  height: 10vh;
  position: fixed;
  z-index: 16;
  color: white;
  text-shadow: 1px 1px 4px black;
  flex-direction: row;
  background-image: linear-gradient(
    to right bottom,
    #1b279d,
    #0065cf,
    #0096de,
    #00c4d7,
    #49edca
  );
}

.navbar-traveler {
  color: white;
  text-shadow: 3px 3px 10px black;
}
.navbar-menu {
  display: flex;
  justify-content: space-evenly;
  width: 50vw;
}
.navbar-switch {
  display: flex;
  width: 15vw;
}
.navbar-switch label {
  margin-left: 15px;
}
.navbar-menu p {
  cursor: pointer;
}
.navbar-search {
  display: flex;
  width: 20vw;
}

.background-switch {
  background-image: linear-gradient(
    to left bottom,
    #f9f871,
    #a8f38c,
    #57e6b2,
    #00d3d0,
    #00bcdc
  ) !important;
  z-index: 20;
}
.background-switch p {
  color: black;
  text-shadow: 0px 0px 1px black;
}
.background-switch label {
  color: black;
  text-shadow: 0px 0px 1px black;
}

/* 
background-image: linear-gradient(to right bottom, #1b279d, #0057c0, #007ed2, #00a2d6, #00c4d7, #00c9cc, #13cdbe, #3ad0ae, #2ebb9a, #21a686, #139273, #007e61); 
#007E61
#49EDCA
#1B279D */

/* -------------------------------------- availability ----------------------------------------- */

.availability {
  z-index: 16;
  display: flex;
  flex-direction: column;
}
.availability-background {
  position: fixed;
  height: 110vh;
  width: 100%;
  top: 0px;
}
.availability-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background: rgba(255, 255, 255, 0.6);
  width: 100%;
  z-index: 15;
}
.availability-calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  height: 30vh;
  background-image: linear-gradient(
    to left bottom,
    #f9f871,
    #a8f38c,
    #57e6b2,
    #00d3d0,
    #00bcdc
  );
  box-shadow: 0px 6px 25px black;
}

#availability-calendar {
  display: flex;
  width: 650px;
  height: 80%;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 3px 3px 10px black;
  border-radius: 10px;
}

.availability-filler {
  display: flex;
  height: 20vh;
  background: rgba(255, 255, 255, 0.3);
  z-index: 15;
}
.availability-user {
  display: flex;
  height: 40vh;
  flex-direction: column;
  background-image: linear-gradient(
    to left bottom,
    #f9f871,
    #a8f38c,
    #57e6b2,
    #00d3d0,
    #00bcdc
  );
  z-index: 15;
  box-shadow: 0px 6px 25px black;
}
.availability-user h2 {
  display: flex;
  justify-content: center;
}
.availability-dates {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 250px;
  padding: 5px;
  border-radius: 24px;
  margin: 5px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 2px 2px 5px black;
}

/* ----------------------------- Tours ----------------------*/

.tours {
  display: flex;
  flex-direction: column;
}

.tours-welcome {
  display: flex;
  height: 40vh;
  justify-content: center;
  align-content: center;
  background: rgba(255, 255, 255, 0.3);
  z-index: 15;
}
.tours-welcome h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tours-main {
  display: inline-flex;
  justify-content: space-evenly;
  background: rgba(255, 255, 255, 0.3);
  z-index: 16;
}

.tours-section {
  display: inline-flex;
  padding: 20px 0px 20px 0px;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  border-radius: 24px;
  background-image: linear-gradient(
    to left bottom,
    #f9f871,
    #a8f38c,
    #57e6b2,
    #00d3d0,
    #00bcdc
  );
  z-index: 16;
  box-shadow: 3px 6px 25px black;
}
.tours-filler {
  display: flex;
  height: 40vh;
  background: rgba(255, 255, 255, 0.3);
  z-index: 15;
}

.tour {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 70px;
  border-radius: 24px;
  background-image: linear-gradient(
    to right bottom,
    #d5e008,
    #e5b900,
    #ee8f00,
    #f15f00,
    #eb1212
  );
  margin: 5px 0px 5px 0px;
  box-shadow: 6px 6px 10px black;
}

.mini-profile {
  display: flex;
  height: 50px;
  box-shadow: 6px 6px 10px black;
  width: 50px;
  border-radius: 50%;
}

/* -------------------------- Options --------------------------------- */

.options {
  display: flex;
  flex-direction: column;
}
.options-welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  height: 40vh;
  background: rgba(255, 255, 255, 0.3);
}
.main-options {
  display: flex;
  justify-content: center;
  height: 80vh;
  z-index: 15;
}

.main-section-guide {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  border-radius: 24px;
  background-image: linear-gradient(
    to left bottom,
    #f9f871,
    #a8f38c,
    #57e6b2,
    #00d3d0,
    #00bcdc
  );
  z-index: 15;
  box-shadow: 3px 6px 25px black;
}
.main-section-traveler {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
  width: 60vw;
  border-radius: 24px;
  background-image: linear-gradient(
    to right bottom,
    #1b279d,
    #0065cf,
    #0096de,
    #00c4d7,
    #49edca
  );
  z-index: 15;
  box-shadow: 3px 6px 25px black;
}
.options-filler {
  display: flex;
  height: 40vh;
  background: rgba(255, 255, 255, 0.3);
  z-index: 14;
}
